body {
  background-color: rgb(218, 218, 176);
}

.container {
  padding: 30px;
  margin: 30px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: beige;
  text-align: center;
}

h1 {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
}

.mainpic {
  border-radius: 10px;
  margin: 30px;
  width: 75%;
  height: 75%;
}

.pic {
  border-radius: 50%;
  width: 30rem;
  left: 50%;
  right: 50%;
}